.ListPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
}

.ListPage-layout {
    background-color: white;
    color: black;
    margin: 1em;
    height: 88vh;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}

.ListPage-layout table {
    margin: 1em;
}

.ListPage h1 {
    padding: 0.4em;
    color: red;
}

.ListPage-thead {
    border-bottom: 3px solid red ;    
}

.ListPage-layout tr {
    border-bottom: 1px solid lightgrey;
}

.ListPage-layout .fa-remove {
    color: crimson;
    cursor: pointer;
}