header {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header img {
    width: 3em;
    height: auto;
    margin: 0.4em;
    border-radius: 1em;
}

.lg-header {
    display: none;
}

.burger {
    color: black;
    font-size: 1.5em;
    padding: 0.3em 0.5em;
}

.drop-down {
    border: 1px solid white;
    font-size: 1em;
    color: black;
    background-color: red;
    position: fixed;
    text-align: left;
    top:3.6em;
    right: 0em;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.drop-down a {
    text-decoration: none;
    color: black;
}

.drop-down a:hover {
    color: white;
}